.choos{
    display: flex;
    justify-content: space-between;
    height: 170px;
    background-color:  #63d7ee45;
    list-style: none;
    &-list{
        width: 100vw;
        margin: 0 auto;
        position: relative;
        height: 100%;
        display:flex;
        list-style: none;
        justify-content: space-between;
        align-content: center;
        background-color:  #63d7ee45;
        &-item{
            width: 10vw;
            font-size: 18px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center
        }
        &-icon{
            width: 10vw;
            height: 17vh;
        }
    }
    .selectHover{
        transform: scale(1.10);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: .1s all;
        z-index: 10;
    }
}