<nav class="navigation">
  <div class="navigation-container">
      <a class="navigation-logo" routerLink="/home">
        <img src="/assets/logo.png">
      </a>
     <ul class="navigation-list">
      <li *ngFor="let item of navList">
        <a class="navigation-list-item" 
        routerLink={{item.link}}>
          {{item.name}}
        </a>
      </li>
    </ul>
    <ul class="navigation-tools">
      <li *ngFor="let item of navTools">
        <a class="navigation-tools-item"
        routerLink="{{item.link}}">
        <img src="{{item.logo}}" alt="{{item.name}}">
      </a>
      </li>
    </ul>
  </div>
</nav> 