<nav class="navigation">
  <div class="navigation-container">
      <a  routerLink="/home">
        <img class="navigation-logo" src="/assets/logoBlack.png">
      </a>
      <ul  class="navigation-list" >
        <li  *ngFor="let item of navList" hoverSelect>
          <div class="dropdown">
            <a class="navigation-list-item" 
                routerLink={{item.link}}>
                 {{item.name}}
            </a>
          <div class="dropdown-content">
            <li *ngFor="let listItem of item.list" class="navigation-menu-list">
            <a routerLink="{{listItem.link}}">{{listItem.name}}</a>
            </li>
          </div>
        </div>
        </li>
    
    </ul>
    <ul class="navigation-tools">
      <li *ngFor="let item of navTools" >
        <a class="navigation-tools-item"
        routerLink="{{item.link}}">
        <img src="{{item.logo}}" alt="{{item.name}}">
      </a>
      </li>
      <div class="account" >
          <datalist class="datalist">
            <a class="account" routerLink="">
              <img class="account-icon" src="/assets/account/account.png">
            </a>
            
              <datalist class="dropdown-content-account">
                <li *ngFor="let item of accountList" >
                <a class="account-list-item" routerLink="{{item.link}}"> 
                <img src="{{item.logo}}" class="account-list-icon" >
                  {{item.name}}
                  </a>
                   </li>
              </datalist>
          </datalist>

      </div>
    </ul>
  </div>
</nav> 