.navigation {
    display: flex;
    background: linear-gradient(to bottom , #79b3aa, #e4ceab);
    height: 15vh;
    &-container {
        display: flex;
        justify-content: space-around;
        align-items: center; 
        flex-flow: row;      
        margin: 0 auto;
        
        height: 15vh;
        width: 100%; 
     }

    &-logo{
        width: 20vw;
        height: 15vh;
        margin: 0px;
    }
    &-list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50vw;
        height: 100%;
        margin: 0px;
        padding: 0px;
        position: static;
        list-style: none;
        &-item{
            text-decoration: none;
            font-size: 18px;
           color:black;
           box-shadow: 0 0 10px rgba(99, 230, 219, 0);
           
        }    
    }
    
    &-tools{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30vw;
        height: 100%;
        margin: 0px;
        padding: 0px;
        position: static;
        list-style: none;
        
    }
    
   
    
    .hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition:box-shadow 2s;
        z-index: 10;
       
 

    }
    //hover menu:
    .dropdown {
        float: left;
        overflow: hidden;
    }
    
    .dropdown .dropbtn {
        font-size: 16px;    
        border: none;
        outline: none;
        color: aqua;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    
    }
    
    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: red;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content-account {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content-tool{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }     
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropdown-content a:hover {
        background-color: #ddd;
    }
    
    .dropdown:hover .dropdown-content  {
        display: block;
    }
    .dropdown-content-account:hover{
        display: block;
    }

}
